<!-- include header -->
<%-include('include/_header')%>
<!-- /include header -->

<main id="site-main">
  <div class="container">
    <div class="box-nav d-flex justify-between">
      <a href="/add-user" class="border-shadow">
        <span class="text-gradient">
          New User <i class="fa-solid fa-user"></i
        ></span>
      </a>
    </div>
    <!-- form hunling -->
    <form action="" method="POST">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>ID</th>
            <th>User Name</th>
            <th>User Email</th>
            <th>Company</th>
            <th>status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <%- include('include/_show')%>
        </tbody>
      </table>
    </form>
    <!-- /form hunling -->
  </div>
</main>

<!-- include footer-->
<%- include('include/_footer')%>
<!-- /include footer -->
