<tr>
                    <td>1</td>
                    <td>User Name</td>
                    <td>slslsl.p@gmail.com</td>
                    <td>UPTI</td>
                    <td>active</td>
                    <td>
                      <a href="/update_user" class="btn border-shadow update">
                        <span class="text-gradient">
                          <i class="fa-solid fa-pen"></i
                        ></span>
                      </a>
                      <a class="btn border-shadow delet">
                        <span class="text-gradient"> <i class="fas fa-times"></i></span>
                      </a>
                    </td>
                  </tr>